<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href='css/base.css' rel='stylesheet'>
<title>地图展示</title>
</head>
<body>
<div id='header'></div>
<div id='search-list'>
    <ul class='list'>
        <li>
            <div class='preview'>
                <img src='image/mc.jpg'/>
            </div>
            <div class='info'>
                <div class='title'>麦当劳</div>
                <div class='intro'>
                    <div class='details clearfixed'>
                        <p>最低消费:<span>30</span></p>
                        <p>快递费:<span>8</span></p>
                        <p>距离:<span>2</span>km</p>
                        <p>送达时间:<span>20</span>分钟</p>
                    </div>
                    <p class='address'>地址:<span></span></p>
                    <p class='tele'>电话:<span></span></p>
                </div>
            </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src='js/plug-in/require.js' data-main='main.js'></script>
</body>
</html>